## Librerias necesarias

In [2]:
import requests
import json
import pandas as pd
import warnings 
warnings.filterwarnings("ignore")

In [40]:
url='http://ergast.com/api/f1/2022/22/results.json'
response=requests.get(url)

In [41]:
content=json.loads(response.content)

## Generaremos la tabla de resultados

In [42]:
pd.DataFrame(content['MRData']['RaceTable']['Races'][0]['Results'])

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,1,1,1,25,"{'driverId': 'max_verstappen', 'permanentNumbe...","{'constructorId': 'red_bull', 'url': 'http://e...",1,58,Finished,"{'millis': '5265914', 'time': '1:27:45.914'}","{'rank': '6', 'lap': '54', 'Time': {'time': '1..."
1,16,2,2,18,"{'driverId': 'leclerc', 'permanentNumber': '16...","{'constructorId': 'ferrari', 'url': 'http://en...",3,58,Finished,"{'millis': '5274685', 'time': '+8.771'}","{'rank': '10', 'lap': '48', 'Time': {'time': '..."
2,11,3,3,15,"{'driverId': 'perez', 'permanentNumber': '11',...","{'constructorId': 'red_bull', 'url': 'http://e...",2,58,Finished,"{'millis': '5276007', 'time': '+10.093'}","{'rank': '4', 'lap': '52', 'Time': {'time': '1..."
3,55,4,4,12,"{'driverId': 'sainz', 'permanentNumber': '55',...","{'constructorId': 'ferrari', 'url': 'http://en...",4,58,Finished,"{'millis': '5290806', 'time': '+24.892'}","{'rank': '3', 'lap': '50', 'Time': {'time': '1..."
4,63,5,5,10,"{'driverId': 'russell', 'permanentNumber': '63...","{'constructorId': 'mercedes', 'url': 'http://e...",6,58,Finished,"{'millis': '5301802', 'time': '+35.888'}","{'rank': '2', 'lap': '48', 'Time': {'time': '1..."
5,4,6,6,9,"{'driverId': 'norris', 'permanentNumber': '4',...","{'constructorId': 'mclaren', 'url': 'http://en...",7,58,Finished,"{'millis': '5322148', 'time': '+56.234'}","{'rank': '1', 'lap': '44', 'Time': {'time': '1..."
6,31,7,7,6,"{'driverId': 'ocon', 'permanentNumber': '31', ...","{'constructorId': 'alpine', 'url': 'http://en....",8,58,Finished,"{'millis': '5323154', 'time': '+57.240'}","{'rank': '5', 'lap': '45', 'Time': {'time': '1..."
7,18,8,8,4,"{'driverId': 'stroll', 'permanentNumber': '18'...","{'constructorId': 'aston_martin', 'url': 'http...",14,58,Finished,"{'millis': '5342845', 'time': '+1:16.931'}","{'rank': '9', 'lap': '42', 'Time': {'time': '1..."
8,3,9,9,2,"{'driverId': 'ricciardo', 'permanentNumber': '...","{'constructorId': 'mclaren', 'url': 'http://en...",13,58,Finished,"{'millis': '5349182', 'time': '+1:23.268'}","{'rank': '18', 'lap': '45', 'Time': {'time': '..."
9,5,10,10,1,"{'driverId': 'vettel', 'permanentNumber': '5',...","{'constructorId': 'aston_martin', 'url': 'http...",9,58,Finished,"{'millis': '5349812', 'time': '+1:23.898'}","{'rank': '15', 'lap': '35', 'Time': {'time': '..."
10,22,11,11,0,"{'driverId': 'tsunoda', 'permanentNumber': '22...","{'constructorId': 'alphatauri', 'url': 'http:/...",11,58,Finished,"{'millis': '5355285', 'time': '+1:29.371'}","{'rank': '7', 'lap': '40', 'Time': {'time': '1..."
11,24,12,12,0,"{'driverId': 'zhou', 'permanentNumber': '24', ...","{'constructorId': 'alfa', 'url': 'http://en.wi...",15,57,+1 Lap,NaN,"{'rank': '8', 'lap': '53', 'Time': {'time': '1..."
12,23,13,13,0,"{'driverId': 'albon', 'permanentNumber': '23',...","{'constructorId': 'williams', 'url': 'http://e...",19,57,+1 Lap,NaN,"{'rank': '13', 'lap': '40', 'Time': {'time': '..."
13,10,14,14,0,"{'driverId': 'gasly', 'permanentNumber': '10',...","{'constructorId': 'alphatauri', 'url': 'http:/...",17,57,+1 Lap,NaN,"{'rank': '19', 'lap': '16', 'Time': {'time': '..."
14,77,15,15,0,"{'driverId': 'bottas', 'permanentNumber': '77'...","{'constructorId': 'alfa', 'url': 'http://en.wi...",18,57,+1 Lap,NaN,"{'rank': '16', 'lap': '47', 'Time': {'time': '..."
15,47,16,16,0,"{'driverId': 'mick_schumacher', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",12,57,+1 Lap,NaN,"{'rank': '12', 'lap': '39', 'Time': {'time': '..."
16,20,17,17,0,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",16,57,+1 Lap,NaN,"{'rank': '20', 'lap': '40', 'Time': {'time': '..."
17,44,18,18,0,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,55,Hydraulics,NaN,"{'rank': '11', 'lap': '42', 'Time': {'time': '..."
18,6,19,19,0,"{'driverId': 'latifi', 'permanentNumber': '6',...","{'constructorId': 'williams', 'url': 'http://e...",20,55,Collision damage,NaN,"{'rank': '14', 'lap': '45', 'Time': {'time': '..."
19,14,20,R,0,"{'driverId': 'alonso', 'permanentNumber': '14'...","{'constructorId': 'alpine', 'url': 'http://en....",10,27,Water leak,NaN,"{'rank': '17', 'lap': '24', 'Time': {'time': '..."

In [43]:
df_results_2022=pd.DataFrame()
for race in list(range(1,23)):
    url='http://ergast.com/api/f1/2022/{}/results.json'
    response=requests.get(url.format(race))
    content=json.loads(response.content)
    df_results_2022=df_results_2022.append(pd.DataFrame(content['MRData']['RaceTable']['Races'][0]['Results']))

In [45]:
df_results_2022

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,"{'driverId': 'leclerc', 'permanentNumber': '16...","{'constructorId': 'ferrari', 'url': 'http://en...",1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,"{'driverId': 'sainz', 'permanentNumber': '55',...","{'constructorId': 'ferrari', 'url': 'http://en...",3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,"{'driverId': 'russell', 'permanentNumber': '63...","{'constructorId': 'mercedes', 'url': 'http://e...",9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."
...,...,...,...,...,...,...,...,...,...,...,...
15,47,16,16,0,"{'driverId': 'mick_schumacher', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",12,57,+1 Lap,NaN,"{'rank': '12', 'lap': '39', 'Time': {'time': '..."
16,20,17,17,0,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",16,57,+1 Lap,NaN,"{'rank': '20', 'lap': '40', 'Time': {'time': '..."
17,44,18,18,0,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,55,Hydraulics,NaN,"{'rank': '11', 'lap': '42', 'Time': {'time': '..."
18,6,19,19,0,"{'driverId': 'latifi', 'permanentNumber': '6',...","{'constructorId': 'williams', 'url': 'http://e...",20,55,Collision damage,NaN,"{'rank': '14', 'lap': '45', 'Time': {'time': '..."
19,14,20,R,0,"{'driverId': 'alonso', 'permanentNumber': '14'...","{'constructorId': 'alpine', 'url': 'http://en....",10,27,Water leak,NaN,"{'rank': '17', 'lap': '24', 'Time': {'time': '..."

In [46]:
df_results_2022.points.astype(int)

0     26
1     18
2     15
3     12
4     10
      ..
15     0
16     0
17     0
18     0
19     0
Name: points, Length: 440, dtype: int32

In [47]:
df_results_2022['points']=df_results_2022.points.astype(int)

In [19]:
df_results_2022.groupby(['position']).agg({'points':'sum'}).sort_values(by='points', ascending=False)

          points
position
1            557
2            402
3            331
4            265
5            222
6            179
7            132
8             88
9             44
10            22
18             0
17             0
20             0
16             0
15             0
14             0
13             0
12             0
11             0
19             0

In [48]:
df_results_2022['Driver']=df_results_2022['Driver'].apply(lambda x: x['driverId'])

In [50]:
df_results_2022

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,leclerc,"{'constructorId': 'ferrari', 'url': 'http://en...",1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,sainz,"{'constructorId': 'ferrari', 'url': 'http://en...",3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,hamilton,"{'constructorId': 'mercedes', 'url': 'http://e...",5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,russell,"{'constructorId': 'mercedes', 'url': 'http://e...",9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,kevin_magnussen,"{'constructorId': 'haas', 'url': 'http://en.wi...",7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."
...,...,...,...,...,...,...,...,...,...,...,...
15,47,16,16,0,mick_schumacher,"{'constructorId': 'haas', 'url': 'http://en.wi...",12,57,+1 Lap,NaN,"{'rank': '12', 'lap': '39', 'Time': {'time': '..."
16,20,17,17,0,kevin_magnussen,"{'constructorId': 'haas', 'url': 'http://en.wi...",16,57,+1 Lap,NaN,"{'rank': '20', 'lap': '40', 'Time': {'time': '..."
17,44,18,18,0,hamilton,"{'constructorId': 'mercedes', 'url': 'http://e...",5,55,Hydraulics,NaN,"{'rank': '11', 'lap': '42', 'Time': {'time': '..."
18,6,19,19,0,latifi,"{'constructorId': 'williams', 'url': 'http://e...",20,55,Collision damage,NaN,"{'rank': '14', 'lap': '45', 'Time': {'time': '..."
19,14,20,R,0,alonso,"{'constructorId': 'alpine', 'url': 'http://en....",10,27,Water leak,NaN,"{'rank': '17', 'lap': '24', 'Time': {'time': '..."

In [51]:
df_results_2022.groupby(['Driver']).agg({'points':'sum'}).sort_values(by='points', ascending=False)

                 points
Driver
max_verstappen      433
perez               291
leclerc             291
russell             262
hamilton            233
sainz               228
norris              116
ocon                 89
alonso               81
bottas               47
vettel               37
ricciardo            34
gasly                23
kevin_magnussen      21
stroll               18
tsunoda              12
mick_schumacher      12
zhou                  6
albon                 4
latifi                2
de_vries              2
hulkenberg            0

In [52]:
df_results_2022.groupby(['Constructor']).agg({'points':'sum'}).sort_values(by='points', ascending=False)

TypeError: unhashable type: 'dict'

## Obtenemos la tabla de races

In [63]:
#Ahora vamos a obtener todas las carreras del 2010 al 2022. 
races={'season':[],
      'round':[],
      'raceName':[],
      'circuitId':[],
      'lat':[],
      'long':[],
      'country':[],
      'date':[],
      'url':[]}

In [64]:
for year in list(range(2010,2023)):
    url='http://ergast.com/api/f1/{}.json'
    response=requests.get(url.format(year))
    content=json.loads(response.content)
    
    for item in content['MRData']['RaceTable']['Races']:
        races['season'].append(int(item['season']))
        races['round'].append(int(item['round']))
        races['raceName'].append(item['raceName'])
        races['circuitId'].append(item['Circuit']['circuitId'])
        races['lat'].append(item['Circuit']['Location']['lat'])
        races['long'].append(item['Circuit']['Location']['long'])
        races['country'].append(item['Circuit']['Location']['country'])
        races['date'].append(item['date'])
        races['url'].append(item['url'])

In [67]:
for key in races.keys():
    print(len(races[key]))

259
259
259
259
259
259
259
259
259

In [68]:
len(races['season'])

259

In [69]:
pd.DataFrame(races)

,season,round,raceName,circuitId,lat,long,country,date,url
0,2010,1,Bahrain Grand Prix,bahrain,26.0325,50.5106,Bahrain,2010-03-14,http://en.wikipedia.org/wiki/2010_Bahrain_Gran...
1,2010,2,Australian Grand Prix,albert_park,-37.8497,144.968,Australia,2010-03-28,http://en.wikipedia.org/wiki/2010_Australian_G...
2,2010,3,Malaysian Grand Prix,sepang,2.76083,101.738,Malaysia,2010-04-04,http://en.wikipedia.org/wiki/2010_Malaysian_Gr...
3,2010,4,Chinese Grand Prix,shanghai,31.3389,121.22,China,2010-04-18,http://en.wikipedia.org/wiki/2010_Chinese_Gran...
4,2010,5,Spanish Grand Prix,catalunya,41.57,2.26111,Spain,2010-05-09,http://en.wikipedia.org/wiki/2010_Spanish_Gran...
...,...,...,...,...,...,...,...,...,...
254,2022,18,Japanese Grand Prix,suzuka,34.8431,136.541,Japan,2022-10-09,http://en.wikipedia.org/wiki/2022_Japanese_Gra...
255,2022,19,United States Grand Prix,americas,30.1328,-97.6411,USA,2022-10-23,http://en.wikipedia.org/wiki/2022_United_State...
256,2022,20,Mexico City Grand Prix,rodriguez,19.4042,-99.0907,Mexico,2022-10-30,http://en.wikipedia.org/wiki/2022_Mexican_Gran...
257,2022,21,Brazilian Grand Prix,interlagos,-23.7036,-46.6997,Brazil,2022-11-13,http://en.wikipedia.org/wiki/2022_Brazilian_Gr...
258,2022,22,Abu Dhabi Grand Prix,yas_marina,24.4672,54.6031,UAE,2022-11-20,http://en.wikipedia.org/wiki/2022_Abu_Dhabi_Gr...

Pasamos la tabla de races a un archivo csv.

In [89]:
pd.DataFrame(races).to_csv("races.csv", index=False)

## Ejercicio: Generar la tabla de seasons

In [6]:
warnings.filterwarnings("ignore")
url='http://ergast.com/api/f1/seasons.json'
response = requests.get(url)
content=json.loads(response.content)

In [4]:
content

{'MRData': {'xmlns': 'http://ergast.com/mrd/1.5',
  'series': 'f1',
  'url': 'http://ergast.com/api/f1/seasons.json',
  'limit': '30',
  'offset': '0',
  'total': '74',
  'SeasonTable': {'Seasons': [{'season': '1950',
     'url': 'http://en.wikipedia.org/wiki/1950_Formula_One_season'},
    {'season': '1951',
     'url': 'http://en.wikipedia.org/wiki/1951_Formula_One_season'},
    {'season': '1952',
     'url': 'http://en.wikipedia.org/wiki/1952_Formula_One_season'},
    {'season': '1953',
     'url': 'http://en.wikipedia.org/wiki/1953_Formula_One_season'},
    {'season': '1954',
     'url': 'http://en.wikipedia.org/wiki/1954_Formula_One_season'},
    {'season': '1955',
     'url': 'http://en.wikipedia.org/wiki/1955_Formula_One_season'},
    {'season': '1956',
     'url': 'http://en.wikipedia.org/wiki/1956_Formula_One_season'},
    {'season': '1957',
     'url': 'http://en.wikipedia.org/wiki/1957_Formula_One_season'},
    {'season': '1958',
     'url': 'http://en.wikipedia.org/wiki/1958_Formula_One_season'},
    {'season': '1959',
     'url': 'http://en.wikipedia.org/wiki/1959_Formula_One_season'},
    {'season': '1960',
     'url': 'http://en.wikipedia.org/wiki/1960_Formula_One_season'},
    {'season': '1961',
     'url': 'http://en.wikipedia.org/wiki/1961_Formula_One_season'},
    {'season': '1962',
     'url': 'http://en.wikipedia.org/wiki/1962_Formula_One_season'},
    {'season': '1963',
     'url': 'http://en.wikipedia.org/wiki/1963_Formula_One_season'},
    {'season': '1964',
     'url': 'http://en.wikipedia.org/wiki/1964_Formula_One_season'},
    {'season': '1965',
     'url': 'http://en.wikipedia.org/wiki/1965_Formula_One_season'},
    {'season': '1966',
     'url': 'http://en.wikipedia.org/wiki/1966_Formula_One_season'},
    {'season': '1967',
     'url': 'http://en.wikipedia.org/wiki/1967_Formula_One_season'},
    {'season': '1968',
     'url': 'http://en.wikipedia.org/wiki/1968_Formula_One_season'},
    {'season': '1969',
     'url': 'http://en.wikipedia.org/wiki/1969_Formula_One_season'},
    {'season': '1970',
     'url': 'http://en.wikipedia.org/wiki/1970_Formula_One_season'},
    {'season': '1971',
     'url': 'http://en.wikipedia.org/wiki/1971_Formula_One_season'},
    {'season': '1972',
     'url': 'http://en.wikipedia.org/wiki/1972_Formula_One_season'},
    {'season': '1973',
     'url': 'http://en.wikipedia.org/wiki/1973_Formula_One_season'},
    {'season': '1974',
     'url': 'http://en.wikipedia.org/wiki/1974_Formula_One_season'},
    {'season': '1975',
     'url': 'http://en.wikipedia.org/wiki/1975_Formula_One_season'},
    {'season': '1976',
     'url': 'http://en.wikipedia.org/wiki/1976_Formula_One_season'},
    {'season': '1977',
     'url': 'http://en.wikipedia.org/wiki/1977_Formula_One_season'},
    {'season': '1978',
     'url': 'http://en.wikipedia.org/wiki/1978_Formula_One_season'},
    {'season': '1979',
     'url': 'http://en.wikipedia.org/wiki/1979_Formula_One_season'}]}}}

In [86]:
dic ={'season':[],
      'url':[]}

In [87]:
for item in content['MRData']['SeasonTable']['Seasons']:
    dic['season'].append(int(item['season']))
    dic['url'].append(item['url'])

In [88]:
pd.DataFrame(dic)

    season                                                url
0     1950  http://en.wikipedia.org/wiki/1950_Formula_One_...
1     1951  http://en.wikipedia.org/wiki/1951_Formula_One_...
2     1952  http://en.wikipedia.org/wiki/1952_Formula_One_...
3     1953  http://en.wikipedia.org/wiki/1953_Formula_One_...
4     1954  http://en.wikipedia.org/wiki/1954_Formula_One_...
5     1955  http://en.wikipedia.org/wiki/1955_Formula_One_...
6     1956  http://en.wikipedia.org/wiki/1956_Formula_One_...
7     1957  http://en.wikipedia.org/wiki/1957_Formula_One_...
8     1958  http://en.wikipedia.org/wiki/1958_Formula_One_...
9     1959  http://en.wikipedia.org/wiki/1959_Formula_One_...
10    1960  http://en.wikipedia.org/wiki/1960_Formula_One_...
11    1961  http://en.wikipedia.org/wiki/1961_Formula_One_...
12    1962  http://en.wikipedia.org/wiki/1962_Formula_One_...
13    1963  http://en.wikipedia.org/wiki/1963_Formula_One_...
14    1964  http://en.wikipedia.org/wiki/1964_Formula_One_...
15    1965  http://en.wikipedia.org/wiki/1965_Formula_One_...
16    1966  http://en.wikipedia.org/wiki/1966_Formula_One_...
17    1967  http://en.wikipedia.org/wiki/1967_Formula_One_...
18    1968  http://en.wikipedia.org/wiki/1968_Formula_One_...
19    1969  http://en.wikipedia.org/wiki/1969_Formula_One_...
20    1970  http://en.wikipedia.org/wiki/1970_Formula_One_...
21    1971  http://en.wikipedia.org/wiki/1971_Formula_One_...
22    1972  http://en.wikipedia.org/wiki/1972_Formula_One_...
23    1973  http://en.wikipedia.org/wiki/1973_Formula_One_...
24    1974  http://en.wikipedia.org/wiki/1974_Formula_One_...
25    1975  http://en.wikipedia.org/wiki/1975_Formula_One_...
26    1976  http://en.wikipedia.org/wiki/1976_Formula_One_...
27    1977  http://en.wikipedia.org/wiki/1977_Formula_One_...
28    1978  http://en.wikipedia.org/wiki/1978_Formula_One_...
29    1979  http://en.wikipedia.org/wiki/1979_Formula_One_...

In [85]:
dic

{'season': [1950,
  1951,
  1952,
  1953,
  1954,
  1955,
  1956,
  1957,
  1958,
  1959,
  1960,
  1961,
  1962,
  1963,
  1964,
  1965,
  1966,
  1967,
  1968,
  1969,
  1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979],
 'url': ['http://en.wikipedia.org/wiki/1979_Formula_One_season']}

Pasamos la tabla de seasons a csv.

In [91]:
pd.DataFrame(dic).to_csv("seasons.csv", index=False)