## Tabla de LapTimes

Cargamos las librerias necesarias:

In [7]:
import requests
import json
import pandas as pd
import warnings 
warnings.filterwarnings("ignore")

Generamos el diccionario que almacenara los valores de ls variables:

In [8]:
lapTimes = {'year':[],
        'round':[],
        'RaceName':[],
        'raceId':[],
        'driverId':[],  
        'lap':[],
        'position':[],
        'time':[]}

Establecemos el ciclo para obtener los datos de los urls correspondientes:

In [9]:
urls = []
for i in list(range(2010,2023)):
    url1 = 'http://ergast.com/api/f1/'
    url2 = url1 + str(i)
    url3 = url2 + '.json'
    response = requests.get(url3)
    content = json.loads(response.content)
    for i in list(range(1,len(content['MRData']['RaceTable']['Races'])+1)):
        url4 = url2 + '/' +str(i) + '/laps.json?limit=1000' 
        urls.append(url4)

Ahora añadimos la informacion al diccionario:

In [10]:
for j in urls:
    response = requests.get(j)
    content=json.loads(response.content)
    for m1 in content['MRData']['RaceTable']['Races']:
        for m2 in content['MRData']['RaceTable']['Races'][0]['Laps']:
            for m3 in m2['Timings']:
                lapTimes['year'].append(int(m1['season']))
                lapTimes['RaceName'].append(str(m1['raceName']))
                lapTimes['round'].append(int(m1['round']))
                lapTimes['raceId'].append(m1['season'] + '_' + m1['round'])
                lapTimes['position'].append(int(m3['position']))
                lapTimes['driverId'].append(str(m3['driverId']))
                lapTimes['lap'].append(int(m2['number']))
                lapTimes['time'].append(m3['time'])

Generamos el dataframe del diccionario de lapTimes:

In [12]:
pd.DataFrame(lapTimes)

,year,round,RaceName,raceId,driverId,lap,position,time
0,2010,1,Bahrain Grand Prix,2010_1,vettel,1,1,2:03.366
1,2010,1,Bahrain Grand Prix,2010_1,alonso,1,2,2:05.394
2,2010,1,Bahrain Grand Prix,2010_1,massa,1,3,2:06.758
3,2010,1,Bahrain Grand Prix,2010_1,rosberg,1,4,2:08.063
4,2010,1,Bahrain Grand Prix,2010_1,hamilton,1,5,2:08.558
...,...,...,...,...,...,...,...,...
249875,2022,22,Abu Dhabi Grand Prix,2022_22,latifi,51,19,1:32.250
249876,2022,22,Abu Dhabi Grand Prix,2022_22,max_verstappen,52,1,1:30.461
249877,2022,22,Abu Dhabi Grand Prix,2022_22,leclerc,52,2,1:29.727
249878,2022,22,Abu Dhabi Grand Prix,2022_22,perez,52,3,1:28.972
249879,2022,22,Abu Dhabi Grand Prix,2022_22,hamilton,52,4,1:30.375

Pasamos el dataframe a archivo csv:

In [13]:
pd.DataFrame(lapTimes).to_csv('LapTimes3.csv', index = False)

## Tabla DriverStandings

Generamos el diccionario para Driver Standings.

In [14]:
driverStandings = {'year':[],
        'round':[],
        'raceId':[],
        'driverStandingsId':[],
        'driverId':[],  
        'points':[],
        'position':[],
        'positionText':[],
        'wins':[]}

Establecemos el ciclo para obtener los datos de los urls correspondientes:

In [15]:
urls = []
for i in list(range(2010,2023)):
    url1 = 'http://ergast.com/api/f1/'
    url2 = url1 + str(i)
    url3 = url2 + '.json'
    response = requests.get(url3)
    content = json.loads(response.content)
    for i in list(range(1,len(content['MRData']['RaceTable']['Races'])+1)):
        url4 = url2 + '/' +str(i) + '/driverStandings.json?limit=1000' 
        urls.append(url4)

Ahora añadimos la informacion al diccionario:

In [16]:
for j in urls:
    response = requests.get(j)
    content=json.loads(response.content)
    for m1 in content['MRData']['StandingsTable']['StandingsLists']: 
        for m2 in content['MRData']['StandingsTable']['StandingsLists'][0]['DriverStandings']:
            driverStandings['year'].append(int(m1['season']))
            driverStandings['round'].append(int(m1['round']))
            driverStandings['raceId'].append(m1['season'] + '_' + m1['round'])
            driverStandings['driverStandingsId'].append('Standings' + '_' + m1['season'] + '_' + m1['round'])
            driverStandings['position'].append(int(m2['position']))
            driverStandings['positionText'].append(str(m2['positionText']))
            driverStandings['driverId'].append(str(m2['Driver']['driverId']))
            driverStandings['points'].append(float(m2['points']))
            driverStandings['wins'].append(int(m2['wins']))

Creamos el dataframe de driverStandings:

In [17]:
pd.DataFrame(driverStandings)

,year,round,raceId,driverStandingsId,driverId,points,position,positionText,wins
0,2010,1,2010_1,Standings_2010_1,alonso,25.0,1,1,1
1,2010,1,2010_1,Standings_2010_1,massa,18.0,2,2,0
2,2010,1,2010_1,Standings_2010_1,hamilton,15.0,3,3,0
3,2010,1,2010_1,Standings_2010_1,vettel,12.0,4,4,0
4,2010,1,2010_1,Standings_2010_1,rosberg,10.0,5,5,0
...,...,...,...,...,...,...,...,...,...
5762,2022,22,2022_22,Standings_2022_22,zhou,6.0,18,18,0
5763,2022,22,2022_22,Standings_2022_22,albon,4.0,19,19,0
5764,2022,22,2022_22,Standings_2022_22,latifi,2.0,20,20,0
5765,2022,22,2022_22,Standings_2022_22,de_vries,2.0,21,21,0
5766,2022,22,2022_22,Standings_2022_22,hulkenberg,0.0,22,22,0

Pasamos el dataframe a archivo csv:

In [18]:
pd.DataFrame(driverStandings).to_csv("DriverStandings.csv", index=False)

## Tabla ConstructorStandings

Generamos el diccionario para ConstructorStandings.

In [20]:
constructorStandings = {'year':[],
        'round':[],
        'raceId':[],
        'constructorStandingsId':[],
        'constructorId':[],  
        'points':[],
        'position':[],
        'positionText':[],
        'wins':[]}

Establecemos el ciclo para obtener los datos de los urls correspondientes:

In [21]:
urls = []
for i in list(range(2010,2023)):
    url1 = 'http://ergast.com/api/f1/'
    url2 = url1 + str(i)
    url3 = url2 + '.json'
    response = requests.get(url3)
    content = json.loads(response.content)
    for i in list(range(1,len(content['MRData']['RaceTable']['Races'])+1)):
        url4 = url2 + '/' +str(i) + '/constructorstandings.json?limit=1000' 
        urls.append(url4)

Ahora añadimos la informacion al diccionario:

In [22]:
for j in urls:
    response = requests.get(j)
    content=json.loads(response.content)
    for m1 in content['MRData']['StandingsTable']['StandingsLists']: 
        for m2 in content['MRData']['StandingsTable']['StandingsLists'][0]['ConstructorStandings']:
            constructorStandings['year'].append(int(m1['season']))
            constructorStandings['round'].append(int(m1['round']))
            constructorStandings['raceId'].append(m1['season'] + '_' + m1['round'])
            constructorStandings['constructorStandingsId'].append('ConstructorStanding' + '_' + 
                                        m1['season'] + '_' + m1['round'])
            constructorStandings['position'].append(int(m2['position']))
            constructorStandings['positionText'].append(str(m2['positionText']))
            constructorStandings['constructorId'].append(str(m2['Constructor']['constructorId']))
            constructorStandings['points'].append(float(m2['points']))
            constructorStandings['wins'].append(int(m2['wins']))

Creamos el dataframe de constructorStandings:

In [23]:
pd.DataFrame(constructorStandings)

,year,round,raceId,constructorStandingsId,constructorId,points,position,positionText,wins
0,2010,1,2010_1,ConstructorStanding_2010_1,ferrari,43.0,1,1,1
1,2010,1,2010_1,ConstructorStanding_2010_1,mclaren,21.0,2,2,0
2,2010,1,2010_1,ConstructorStanding_2010_1,mercedes,18.0,3,3,0
3,2010,1,2010_1,ConstructorStanding_2010_1,red_bull,16.0,4,4,0
4,2010,1,2010_1,ConstructorStanding_2010_1,force_india,2.0,5,5,0
...,...,...,...,...,...,...,...,...,...
2756,2022,22,2022_22,ConstructorStanding_2022_22,alfa,55.0,6,6,0
2757,2022,22,2022_22,ConstructorStanding_2022_22,aston_martin,55.0,7,7,0
2758,2022,22,2022_22,ConstructorStanding_2022_22,haas,37.0,8,8,0
2759,2022,22,2022_22,ConstructorStanding_2022_22,alphatauri,35.0,9,9,0
2760,2022,22,2022_22,ConstructorStanding_2022_22,williams,8.0,10,10,0

Pasamos el dataframe a archivo csv:

In [24]:
pd.DataFrame(constructorStandings).to_csv("ConstructorStandings.csv", index=False)

## Tabla ConstructorResults

Generamos el diccionario para ConstructorResults y el dataframe correspondiente.

In [ ]:
datos = {'points':[],
        'constructorId':[],
       'year':[],
       'RaceName':[],
       'round':[],
       'raceId':[],
       'position':[]}
Datos= pd.DataFrame(datos)
Datos = datos.set_index('constructorId')

Establecemos el ciclo para obtener los datos de los urls correspondientes:

In [28]:
urls = []
for i in list(range(2010,2023)):
    url1 = 'http://ergast.com/api/f1/'
    url2 = url1 + str(i)
    url3 = url2 + '.json'
    response = requests.get(url3)
    content = json.loads(response.content)
    for i in list(range(1,len(content['MRData']['RaceTable']['Races'])+1)):
        url4 = url2 + '/' +str(i) + '/results.json?limit=1000' 
        urls.append(url4)

Ahora añadimos la informacion al diccionario:

In [37]:
for j in urls:
    ConstructorResults = {'constructorId':[],  
                           'points':[]}
    response = requests.get(j)
    content = json.loads(response.content)
    for m1 in content['MRData']['RaceTable']['Races']:
        for m2 in content['MRData']['RaceTable']['Races'][0]['Results']:
            ConstructorResults['constructorId'].append(str(m2['Constructor']['constructorId']))
            ConstructorResults['points'].append(float(m2['points']))
        df = pd.DataFrame(ConstructorResults)
        df2 = pd.DataFrame(df.groupby('constructorId').sum().sort_values('points',ascending = False))
    RaceYear = {'RaceName':[],
                'position':[],
            'year':[],
            'round':[],
            'raceId':[]}
    for i in list(range(0,len(df2))):
        RaceYear['round'].append(m1['round'])
        RaceYear['RaceName'].append(m1['raceName'])
        RaceYear['year'].append(m1['season'])
        RaceYear['raceId'].append(m1['season'] + '_' + m1['round'])
        RaceYear['position'].append(int(i+1))

    df2['year'] = RaceYear['year']
    df2['RaceName'] = RaceYear['RaceName']
    df2['round'] = RaceYear['round']
    df2['raceId'] = RaceYear['raceId']
    df2['position'] = RaceYear['position']
    Datos =  pd.concat([Datos,df2])

Generamos el dataframe de los resultados:

In [38]:
pd.DataFrame(Datos)

,points,constructorId,year,RaceName,round,raceId,position
ferrari,43.0,NaN,2010,Bahrain Grand Prix,1,2010_1,1.0
mclaren,21.0,NaN,2010,Bahrain Grand Prix,1,2010_1,2.0
mercedes,18.0,NaN,2010,Bahrain Grand Prix,1,2010_1,3.0
red_bull,16.0,NaN,2010,Bahrain Grand Prix,1,2010_1,4.0
force_india,2.0,NaN,2010,Bahrain Grand Prix,1,2010_1,5.0
...,...,...,...,...,...,...,...
aston_martin,5.0,NaN,2022,Abu Dhabi Grand Prix,22,2022_22,6.0
alfa,0.0,NaN,2022,Abu Dhabi Grand Prix,22,2022_22,7.0
alphatauri,0.0,NaN,2022,Abu Dhabi Grand Prix,22,2022_22,8.0
haas,0.0,NaN,2022,Abu Dhabi Grand Prix,22,2022_22,9.0
williams,0.0,NaN,2022,Abu Dhabi Grand Prix,22,2022_22,10.0

Pasamos el dataframe a un archivo csv:

In [39]:
pd.DataFrame(Datos).to_csv("ConstructorResults.csv", index=False)